<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Credit Card -->
    <event name="payment_method_assign_data_paypal_braintree_brasil_creditcard">
        <observer name="paypal_braintree_brasil_creditcard_data_assign" instance="Paypal\BraintreeBrasil\Observer\CreditCard\DataAssignObserver" />
    </event>
    <event name="braintree_brasil_creditcard_save_payment_token">
        <observer name="paypal_braintree_brasil_creditcard_save_payment_token" instance="Paypal\BraintreeBrasil\Observer\CreditCard\SavePaymentTokenObserver" />
    </event>

    <!-- Debit Card -->
    <event name="payment_method_assign_data_paypal_braintree_brasil_debitcard">
        <observer name="paypal_braintree_brasil_debitcard_data_assign" instance="Paypal\BraintreeBrasil\Observer\DebitCard\DataAssignObserver" />
    </event>
    <event name="braintree_brasil_debitcard_save_payment_token">
        <observer name="paypal_braintree_brasil_debitcard_save_payment_token" instance="Paypal\BraintreeBrasil\Observer\DebitCard\SavePaymentTokenObserver" />
    </event>

    <!-- Paypal Wallet on Braintree -->
    <event name="payment_method_assign_data_paypal_braintree_brasil_paypal_wallet">
        <observer name="paypal_braintree_brasil_paypal_wallet_data_assign" instance="Paypal\BraintreeBrasil\Observer\PaypalWallet\DataAssignObserver" />
    </event>

    <!-- Installments Interest Rate total -->
    <event name="sales_model_service_quote_submit_before">
        <observer name="braintree_brasil_sales_model_service_quote_submit_before" instance="Paypal\BraintreeBrasil\Observer\Totals\CopyFromQuoteToOrder" />
    </event>

    <!-- Two Credit Cards -->
    <event name="payment_method_assign_data_paypal_braintree_brasil_two_creditcards">
        <observer name="paypal_braintree_brasil_two_creditcards_data_assign" instance="Paypal\BraintreeBrasil\Observer\TwoCreditCards\DataAssignObserver" />
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="paypal_braintree_brasil_two_creditcards_quote_data_assign" instance="Paypal\BraintreeBrasil\Observer\TwoCreditCards\QuoteDataAssignObserver" />
    </event>
    <event name="braintree_brasil_two_creditcards_save_payment_token">
        <observer name="paypal_braintree_brasil_two_creditcards_save_payment_token" instance="Paypal\BraintreeBrasil\Observer\TwoCreditCards\SavePaymentTokenObserver" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="paypal_braintree_brasil_creditcard_create_invoice" instance="Paypal\BraintreeBrasil\Observer\TwoCreditCards\CreateInvoiceObserver"/>
    </event>
</config>
